@{
    ViewBag.Title = "Despre noi";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <div class="col-md-8">


        <p>
            Suntem o echipă de medici veterinari profesioniști, iar fiecare dintre noi este pasionat de ceea ce face. De aceea investim continuu în pregătirea și dezvoltarea noastră. Sperăm ca experiența și cunoștințele noastre să vă ajute să îi oferiți o viață cât mai bună și mai frumoasă companionului dumneavoastră.

        </p>

        <h1>Valori oferite in cadrul cabinetului nostru</h1>
        <h2>Corectitudine</h2>
        <p>Prioritatea principală pentru noi este bunăstarea pacienților și a membrilor familiei acestora. Mereu vom trata responsabil și vom fi transparenți în privința pacientului.</p>
        <h2>Siguranță</h2>
        <p>Siguranța pacientului și a cadrelor medicale sunt absolut esențiale pentru noi.</p>
        <h2>Comunicare</h2>
        <p>Pentru noi este esential ca proprietarul să fie lămurit cu privire la tratarea și starea pacientului. Comunicarea ne ajută intern în echipă, dar și extern când ne adresăm clienților.</p>
        <h2>Responsabilitate</h2>
        <p>Ne asumăm responsabilitatea de a trata pacienții și de a educa în mod constant proprietarii astfel încat prietenii noștri necuvântători să trăiasca armonios în familie. În echipă sau individual ne asumăm deciziile pe care le luăm.</p>
        <h2>Învățare</h2>
        <p>Suntem dornici de învățare și dezvoltare, prin urmare echipa noastră beneficiază de pregătire constantă în domeniul medical veterinar astfel încat sa fim la curent cu noutățile din domeniu. Învățam din experiențe și suntem dornici să progresăm împreună în acest domeniu. Munca de zi cu zi pot să ducă la greșeli, însă acestea ne fac mai puternici și vom reuși să devenim mai buni.</p>
        <h2>Colaborare</h2>
        <p>Colaborând putem progresa împreună. Vom crea un mediu de bună înțelegere, respect și încredere. Încurajăm colaborarea cu partenerii și clienții noștri prin comunicare continuă și încredere reciprocă</p>

    </div>
    <div class="col-md-4" style="background-image:url(/Imagini/Caine.jpg);height:500px"></div>
</div>