@{
    ViewBag.Title = "Informatii de contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Strada Distribuției 1b<br />
    <abbr title="Phone">P:</abbr>
    0756907324
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:teodora.dejanu@gmail.com">teodora.dejanu@gamil.com</a>
</address>