@{
    ViewBag.Title = "Ne-am bucura sa va putem ajuta animalutele dumneavoastra!";
}

<div class="jumbotron" style=" background-image:url(/Imagini/cabinetVeterinar.jpg)">
    <h1>Animalele reprezinta o prioritate pentru noi.</h1>
    <p class="lead">La cabinetul nostru veterinar, prietenul dumneavoastră necuvântător va beneficia de cele mai bune servicii medical veterinare, asigurate de medici dedicați, personal profesionist și echipamente de ultimă generație.</p>
    <p><a href="http://localhost:54154/Home/About" class="btn btn-primary btn-lg">Despre noi &raquo;</a></p>
</div>

<h2>SERVICIILE VETERINARE OFERITE </h2>
<div class="row">
    <div class="col-md-4">
        <h2>Analize veterinare</h2>
        <p>
            În cadrul laboratorului nostru se pot efectua un spectru larg de investigații, 
            analize de sânge – hematologice, biochimice, analize bacteriologice/micologice 
            și examene citologice sau parazitologice.
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Chirurgie / Ortopedie veterinară</h2>
        <p> Sala noastră de chirurgie veterinară este dotată cu aparatură de ultima generație:
            concentrator de oxigen, aparat de anestezie inhalatorie, monitozare a funcțiilor vitale. 
            Toate acestea, ne permit efectuarea unor intervenții chirurgicale complicate la animalele
            geriatrice, intervenții ortopedice, precum si a altor intervenții ce necesita o anestezie 
            de lungă durată.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Dermatologie</h2>
        <p> Secția de dermatologie a cabinetului veterinar Exclusive Vets Sibiu oferă servicii de 
            consultație și tratament pentru toate patologiile care afectează pielea, unghiile, urechile
            și suprafețele mucoaselor.</p>
        
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>Consultații veterinare</h2>
        <p>
            Pe lângă consultațiile generale, oferim și consultații în specializări ca oftalmologia,
            dermatologia, cardiologia, consultații nutriționale și stomatologice.
        </p>

    </div>
    <div class="col-md-3">
        <h2>Medicină preventivă</h2>
        <p>
            Este important ca animalul dumneavoastră să beneficieze de toți factorii necesari 
            unei dezvoltări armonioase. De aceea, pe lângă pașaport, carnet de sănătate și alte 
            adeverințe, specialiștii noștri vă vor oferi și consiliere cu privire la vaccinurile 
            necesare și perioadele de deparazitare.
        </p>

    </div>
    <div class="col-md-3">
        <h2>Laborator analize veterinare</h2>
        <p>
            În cadrul laboratorului nostru se pot efectua un spectru larg de investigații, analize de sânge – hematologice, biochimice, analize bacteriologice/micologice și examene citologice sau parazitologice.
        </p>

    </div>
    <div class="col-md-3">
        <h2>Urgențe veterinare</h2>
        <p>
            Suntem pregătiți să vă sărim în ajutor în orice fel de situație, de aceea în cabinetul nostru veți găsi întotdeauna un medic disponibil in situații de urgență.
        </p>

    </div>
</div>
