
@{
    ViewBag.Title = "SuccesInregistrare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SuccesInregistrare</h2>
<p> V-ati inregistrat cu succes!</p>
<div>@Html.ActionLink("Inapoi la site","Index") <br /> 
    @Html.ActionLink("Autentificare","Autentificare")
    </div>


